*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea
local.properties
/app/src/main/res/mipmap-xxhdpi/ic_launcher_logo.png
/app/src/main/res/mipmap-hdpi/ic_launcher_logo.png
/app/src/main/res/mipmap-anydpi-v26/ic_launcher_logo.xml
/app/src/main/res/mipmap-mdpi/ic_launcher_logo.png
/app/src/main/res/mipmap-xhdpi/ic_launcher_logo.png
/app/src/main/res/mipmap-xxxhdpi/ic_launcher_logo.png
/app/src/main/res/mipmap-xxhdpi/ic_launcher_logo_foreground.png
/app/src/main/res/mipmap-hdpi/ic_launcher_logo_foreground.png
/app/src/main/res/mipmap-mdpi/ic_launcher_logo_foreground.png
/app/src/main/res/mipmap-xhdpi/ic_launcher_logo_foreground.png
/app/src/main/res/mipmap-xxxhdpi/ic_launcher_logo_foreground.png
/app/src/main/res/mipmap-mdpi/ic_launcher_logo_round.png
/app/src/main/res/mipmap-anydpi-v26/ic_launcher_logo_round.xml
/app/src/main/res/mipmap-hdpi/ic_launcher_logo_round.png
/app/src/main/res/mipmap-xxxhdpi/ic_launcher_logo_round.png
/app/src/main/res/mipmap-xhdpi/ic_launcher_logo_round.png
/app/src/main/res/mipmap-xxhdpi/ic_launcher_logo_round.png
/app/src/main/res/values/ic_launcher_logo_background.xml
/app/src/main/res/drawable/logo.jpg
/app/src/main/ic_launcher_logo-playstore.png
/squash_lcc
/keystore.properties
